<!DOCTYPE html>
<html>
  <head>
    <title>物业云</title>
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/base.min.css" />
  </head>
  <body>
    <header id="header">
      <div class="wrapper">
        <ul class="menubar pull-right">
          <li>
            <a href="">
              <img width="50" height="50" class="avatar" src="//img1.qdingnet.com/d7e9f4686cce9e0eb2d8e2b448e71d0d.jpg" />
              <span>物小业</span>
            </a>
          </li>
          <li>
            <a href="">
              <img width="20" src="//img1.qdingnet.com/dd2b2e326ea356ab3da3f05e2c579ea6.png" />
              <span>我的文件导出列表</span>
            </a>
          </li>
          <li>
            <a href=""><img width="18" src="//img1.qdingnet.com/31e08e6555c488f6a986f32b675b60d6.png" /></a>
          </li>
          <li>
            <a href=""><img width="18" src="//img1.qdingnet.com/34223f917ab44a84a5150b568dd1f074.png" /></a>
          </li>
          <li>
            <a href="">
              <img width="20" src="//img1.qdingnet.com/3b0ae950fe992bc3919492601b06d7b2.png" />
              <span>切换旧版本</span>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <div id="content">
      <div class="wrapper">
        <!-- 搜索条件 -->
        <div class="filter">
          <form class="form-inline">
            <div class="form-group">
              <label>开始日期:</label>
              <div class="input-group">
                <input type="date" class="form-control" placeholder="Jane Doe" />
                <div class="input-group-addon"><img width="16" src="//img1.qdingnet.com/a70054c1ccbdddae77868a3aa9cfe705.png" /></div>
              </div>
            </div>
            <div class="form-group">
              <label>结束日期:</label>
              <div class="input-group">
                <input type="date" class="form-control" placeholder="Jane Doe" />
                <div class="input-group-addon"><img width="16" src="//img1.qdingnet.com/a70054c1ccbdddae77868a3aa9cfe705.png" /></div>
              </div>
            </div>
            <div class="form-group">
              <label>项目:</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="默认社区" />
                <div class="input-group-addon"><img width="16" src="//img1.qdingnet.com/18920ea7d9f92a0a7b237ee37ef63d9d.png" /></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
            <button type="button" class="btn btn-primary">导出</button>
            <a>
              <img src="//img1.qdingnet.com/f384b3859d670f8af0e8672f3fcffde5.png" />
            </a>
          </form>
        </div>
        <!-- 图表列表 -->
        <div class="charts">
          <h5>数据统计：所有非快速处理类报事</h5>

          <div class="cards clearfix">
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data">
                    <img src="//img1.qdingnet.com/7f88d6a183df5602bfda0034ff082950.png" />
                  </div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data">
                    <img src="//img1.qdingnet.com/7f88d6a183df5602bfda0034ff082950.png" />
                  </div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 图表列表 -->
        <div class="charts">
          <h5>及时完成：报事在标准处理时长内完成</h5>

          <div class="cards clearfix">
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data">
                    <img src="//img1.qdingnet.com/7f88d6a183df5602bfda0034ff082950.png" />
                  </div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data">
                    <img src="//img1.qdingnet.com/bee8cc96c340809521183b5e3b3c7475.png" />
                  </div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 图表列表 -->
        <div class="charts">
          <h5>及时完成：报事在标准处理时长内完成</h5>

          <div class="cards clearfix">
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <h5>报事及时分派率</h5>
                <div class="graphic">
                  <div class="data"></div>
                  <div class="info">
                    <p>及时分派量：239</p>
                    <p>报事量(无挂起)：7392</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
