<!DOCTYPE html>
<html>
  <head>
    <title>物业云</title>
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/base.min.css" />
  </head>
  <body>
    <header id="header">
      <div class="wrapper">
        <ul class="menubar pull-right">
          <li>
            <a href="">
              <img width="50" height="50" class="avatar" src="//img1.qdingnet.com/d7e9f4686cce9e0eb2d8e2b448e71d0d.jpg" />
              <span>物小业</span>
            </a>
          </li>
          <li>
            <a href="">
              <img width="20" src="//img1.qdingnet.com/dd2b2e326ea356ab3da3f05e2c579ea6.png" />
              <span>我的文件导出列表</span>
            </a>
          </li>
          <li>
            <a href=""><img width="18" src="//img1.qdingnet.com/31e08e6555c488f6a986f32b675b60d6.png" /></a>
          </li>
          <li>
            <a href=""><img width="18" src="//img1.qdingnet.com/34223f917ab44a84a5150b568dd1f074.png" /></a>
          </li>
          <li>
            <a href="">
              <img width="20" src="//img1.qdingnet.com/3b0ae950fe992bc3919492601b06d7b2.png" />
              <span>切换旧版本</span>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <div id="content">
      <div class="wrapper">
        <!-- 搜索条件 -->
        <div class="filter">
          <form class="form-inline">
            <div class="form-group">
              <label>开始日期:</label>
              <div class="input-group">
                <input type="date" class="form-control" placeholder="Jane Doe" />
                <div class="input-group-addon"><img width="16" src="//img1.qdingnet.com/a70054c1ccbdddae77868a3aa9cfe705.png" /></div>
              </div>
            </div>
            <div class="form-group">
              <label>结束日期:</label>
              <div class="input-group">
                <input type="date" class="form-control" placeholder="Jane Doe" />
                <div class="input-group-addon"><img width="16" src="//img1.qdingnet.com/a70054c1ccbdddae77868a3aa9cfe705.png" /></div>
              </div>
            </div>
            <div class="form-group">
              <label>项目:</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="默认社区" />
                <div class="input-group-addon"><img width="16" src="//img1.qdingnet.com/18920ea7d9f92a0a7b237ee37ef63d9d.png" /></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
            <button type="button" class="btn btn-primary">导出</button>
            <a>
              <img src="//img1.qdingnet.com/f384b3859d670f8af0e8672f3fcffde5.png" />
            </a>
          </form>
        </div>
        <!-- 图表 -->
        <div class="column double clearfix">
          <div class="item">
            <div class="box">
              <h5>业主报事完结率</h5>
              <div class="canvas">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <h5>业主报事完结率</h5>
              <div class="canvas">

              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <h5>业主报事完结率</h5>
              <div class="canvas">

              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <h5>业主报事完结率</h5>
              <div class="canvas">

              </div>
            </div>
          </div>
        </div>
        <!-- 表格 -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>集团</th>
              <th>地区</th>
              <th>项目</th>
              <th>管家</th>
              <th>报事完成率</th>
              <th>标准报事<br/>及时完成率</th>
              <th>标准报事<br/>及时分派率</th>
              <th>业主线上<br/>报事率</th>
              <th>业主线上<br/>报事率</th>
              <th>标准报事<br/>及时分派率</th>
              <th>业主标准<br/>线上报事率</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>龙湖物业集团公司</td>
              <td>北京龙湖</td>
              <td>长楹天街</td>
              <td>慕容小心</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>43.29%</td>
            </tr>
            <tr>
              <td>龙湖物业集团公司</td>
              <td>北京龙湖</td>
              <td>长楹天街</td>
              <td>慕容小心</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>43.29%</td>
            </tr>
            <tr>
              <td colspan="4">平均值</td>
              <td class="text-primary">84.33%</td>
              <td class="text-primary">43.29%</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>84.33%</td>
              <td>43.29%</td>
              <td>43.29%</td>
            </tr>
          </tbody>
        </table>
        <!-- pagebar -->
        <nav class="text-center">
          <ul class="pagination">
            <li>
              <a href="">
                <span>上一页</span>
              </a>
            </li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li class="active"><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li>
              <a href="">
                <span>下一页</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
